.card__button {
  text-align: center;
  border: 3px solid var(--card-button-border-color);
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  background: none;

  color: var(--main-font-color);

  padding: 12px 22px;
  cursor: pointer;
}

.card__button:hover {
  border-width: 4px;
  border-color: var(--card-hovered-button-border-color);
  padding: 11px 21px;
}
