@import url("./title/subscribe__title.css");
@import url("./text/subscribe__text.css");
@import url("./input/subscribe__input.css");
@import url("./button/subscribe__button.css");
@import url("./form/subscribe__form.css");

.subscribe {
  max-width: 845px;
  padding: 108px 10px 0;
  margin: 0 auto;
  text-align: center;
}
